[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
flake8 = "*"
jedi = "*"
neovim = "*"
pep8 = "*"
psutil = "*"
pycodestyle = "*"
pyflakes = "*"
pynvim = "*"
setproctitle = "*"
PyYAML = "*"

[requires]
python_version = "3.7"
